body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(file:///C:/Users/SEGOTEP/Downloads/5e63e45034091ab9c9cf2fd96b527be7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 50%;
    font-size: 48px;
    color:rgba(72, 255, 0, 0.61);
    text-transform: uppercase;
}